<link rel="stylesheet" href="/stylesheets/contact.css" />

<!-- Start All Title Box -->
<div class="title">
  <h1>LIÊN HỆ</h1>
</div>
<!-- End All Title Box -->

<!-- Start BreadCrumb Box -->
<div class="breadcrumb">
  <i class="fas fa-home"></i>
  <a href="index.html">Trang chủ</a>
  <p>/ Liên hệ</p>
</div>
<!-- End BreadCrumb Box -->

<!-- Start Contact Us  -->
<div class="wrapper-box">
  <img src="images/1.jpg" alt="" />
  <div class="contact-box">
    <h1><i class="fas fa-paper-plane"></i>LIÊN HỆ VỚI CHÚNG TÔI</h1>
    <form action="#" method="post">
      <input type="text" placeholder="Tên của bạn" name="name" />
      <input type="text" placeholder="Email của bạn" name="email" />
      <input type="text" placeholder="Tin nhắn" name="content" id="content" />
    </form>
    <button type="submit" class="service-btn">Gửi yêu cầu</button>
  </div>
</div>
<!-- End Cart -->