 <div class="carousel-container">
		<div class="slides">
            <input type="radio" name="radio-btn" id="radio1" checked="true">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
            <input type="radio" name="radio-btn" id="radio5">
            <input type="radio" name="radio-btn" id="radio6">
            <input type="radio" name="radio-btn" id="radio7">
            <input type="radio" name="radio-btn" id="radio8">

            <div class="slide first">
                <img src="images/1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="images/2.jpg" alt="">
            </div>
            <div class="slide">
                <img src="images/3.jpg" alt="">
            </div>
            <div class="slide">
                <img src="images/4.jpg" alt="">
            </div>
            <div class="slide">
                <img src="images/5.jpg" alt="">
            </div>
            <div class="slide">
                <img src="images/6.jpg" alt="">
            </div>
            <div class="slide">
                <img src="images/7.jpg" alt="">
            </div>
            <div class="slide">
                <img src="images/8.jpg" alt="">
            </div>

            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
                <div class="auto-btn5"></div>
                <div class="auto-btn6"></div>
                <div class="auto-btn7"></div>
                <div class="auto-btn8"></div>
            </div>
        </div>

        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
            <label for="radio5" class="manual-btn"></label>
            <label for="radio6" class="manual-btn"></label>
            <label for="radio7" class="manual-btn"></label>
            <label for="radio8" class="manual-btn"></label>
        </div>
	</div>

    
    <div class="search">
        <div class="grid wide">
            <div class="row">
                <div class="col l-4 c-12">
                    <div class="search_left">
                        <h2>TRA CỨU BƯU GỬI</h2>
                        <p>Mã bưu gửi (tra nhiều bill thêm dấu phẩy giữa các bill VD: EB125966888VN, EI125556888VN)</p>
                        <div class="search_box">
                            <input type="text" placeholder="Nhập mã bưu gửi">
                            <button><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col l-8">
                    <div class="row">
                        <div class="col l-4 c-4">
                            <div class="searchbox_estimate">
                                <img src="images/estimate.png" alt="estimate">
                                <h4>ƯỚC TÍNH CƯỚC PHÍ</h3>
                            </div>
                        </div>
                        <div class="col l-4 c-4">
                            <div class="searchbox_post">
                                <img src="images/search-post.png" alt="search-post">
                                <h4>TÌM KIẾM BƯU CỤC</h4>
                            </div>
                        </div>
                        <div class="col l-4 c-4">
                            <div class="searchbox_prohibit">
                                <img src="images/search-prohibited.png" alt="search-prohibited">
                                <h4>TRA HÀNG CẤM GỬI</h4>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>  
    </div>

    <div class="services">
        <h1>Dịch vụ nổi bật</h1>
        <div class="grid wide">
            <div class="row">
                <div class="col l-6 m-6 c-12">
                    <div class="service-item">
                        <img src="images/ems_tieu_chuan.png" alt="Tiêu chuẩn">
                        <div class="content">
                            <h3><a href="#">CHUYỂN PHÁT NHANH TRONG NƯỚC</a></h3>
                            <p>Dịch vụ chuyển phát nhanh EMS trong nước tiêu chuẩn là dịch vụ nhận gửi, vận chuyển và phát các loại thư, tài liệu, vật phẩm, hàng hoá trong nước theo chỉ tiêu thời gian tiêu chuẩn được Tổng công ty EMS công bố.</p>
                        </div>
                    </div>
                </div>

                <div class="col l-6 m-6 c-12">
                    <div class="service-item">
                        <img src="images/ems_thoa_thuan.png" alt="Tiết kiệm">
                        <div class="content">
                            <h3><a href="#">CHUYỂN PHÁT NHANH TIẾT KIỆM</a></h3>
                            <p>Là dịch vụ có giá cước tiết kiệm với chỉ tiêu thời gian toàn trình cộng thêm 2,5 ngày so với thời gian toàn trình của dịch vụ EMS tiêu chuẩn.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l-6 m-6 c-12">
                    <div class="service-item">
                        <img src="images/ems_hoa_toc.png" alt="Hỏa tốc">
                        <div class="content">
                            <h3><a href="#">CHUYỂN PHÁT NHANH HỎA TỐC</a></h3>
                            <p>EMS Hỏa tốc là dịch vụ đặc biệt có chỉ tiêu thời gian toàn trình rút ngắn 0,5 ngày so với dịch vụ EMS thông thường, trong đó bưu gửi được ưu tiên chuyển phát đến người nhận trong khung thời gian cam kết theo tuyến hành trình cụ thể.</p>
                        </div>
                    </div>
                </div>

                <div class="col l-6 m-6 c-12">
                    <div class="service-item">
                        <img src="images/ems_quoc_te.png" alt="Quốc tế">
                        <div class="content">
                            <h3><a href="#">CHUYỂN PHÁT NHANH EMS QUỐC TẾ</a></h3>
                            <p>Chuyển phát nhanh EMS quốc tế là dịch vụ nhận gửi, vận chuyển và phát các loại thư, tài liệu, vật phẩm, hàng hoá quốc tế theo chỉ tiêu thời gian tiêu chuẩn được Tổng công ty EMS công bố.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="service-btn">Các dịch vụ khác</button>           
    </div>
        
    <div class="news">
        <h1>Tin tức nổi bật</h1>
        <div class="slider-news owl-carousel">
            <div class="card-news">
               <div class="img-news">
                  <img src="./images/News/3.jpg" alt="">
               </div>
               <div class="content-news">
                  <div class="title-news">
                     Dịch vụ chuyển phát nhanh EMS - Tra cứu cước phí thật dễ dàng
                  </div>
                  <p>Chuyển phát nhanh EMS mất bao lâu? Chuyển phát nhanh khi nào nhận được?... chính là những câu hỏi thường xuyên gặp ở các khách hàng sử dụng dịch vụ chuyển phát.</p>
                  <div class="footer-news">
                    <div class="date-news">
                        <i class="far fa-calendar"></i>
                        <p>03/05/2022</p>
                    </div>
                    <div class="btn-news">
                        <button>Xem thêm</button>
                    </div>
                  </div>    
               </div>
            </div>
            <div class="card-news">
               <div class="img-news">
                  <img src="./images/News/2.jpg" alt="">
               </div>
               <div class="content-news">
                  <div class="title-news">
                    Thế nào là dịch vụ chuyển phát nhanh EMS?
                  </div>
                  <p>EMS là gì? Chuyển phát nhanh EMS mất bao lâu? Chuyển phát nhanh khi nào nhận được?... luôn là những câu hỏi được nhiều khách hàng thắc mắc. Đặt trong bối cảnh nhu cầu vận chuyển, sử dụng dịch vụ chuyển phát nhanh ở Việt Nam ngày một tăng nhanh, chắc chắn việc hiểu rõ về EMS sẽ giúp ích rất nhiều cho mọi người.</p>
                  <div class="footer-news">
                    <div class="date-news">
                        <i class="far fa-calendar"></i>
                        <p>03/05/2022</p>
                    </div>
                    <div class="btn-news">
                        <button>Xem thêm</button>
                    </div>
                  </div>    
               </div>
            </div>
            <div class="card-news">
               <div class="img-news">
                  <img src="./images/News/1.jpg" alt="">
               </div>
               <div class="content-news">
                  <div class="title-news">
                    Giải đáp: Chuyển phát nhanh khi nào nhận được?
                  </div>
                  <p>Để giải đáp thắc mắc của khách hàng dành về việc dịch vụ chuyển phát nhanh khi nào nhận được, Tổng Công ty Chuyển phát nhanh Bưu điện – CTCP (EMS Việt Nam) đã cung cấp nền tảng tra cứu cước vận chuyển thông minh qua website ems.com.vn.</p>
                  <div class="footer-news">
                    <div class="date-news">
                        <i class="far fa-calendar"></i>
                        <p>03/05/2022</p>
                    </div>
                    <div class="btn-news">
                        <button>Xem thêm</button>
                    </div>
                  </div>    
               </div>
            </div>
        </div>
        <button class="service-btn">Xem toàn bộ</button>
    </div>

    <div class="partner"></div>

<script>
        $('.slider-news').owlCarousel({
            margin: 10,
            loop: true,
            autoplay: true,
            autoplayTimeout: 3500,
            autoplayHover: true,
        })
   
</script>