<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets//grid.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <title>EMS</title>
</head>
<body>
    <div class="header">
        <div class="hotline">
            <h4>Hotline: </h4>
            <p>1900 54 54 33</p>
        </div>

        <div class="language">
            <h4>Ngôn ngữ:</h4>
            <p>Tiếng Việt</p>
        </div>

        <div class="login_btn">
            <a href="#">Đăng nhập</a>
        </div>
    </div>
    <div class="menu-box">
        <a href="/">
            <img src="/images/logo.jpg" alt="Logo">
        </a>
        <ul  class="menu">
            <li class="menu-item">
                <a href="#" class="menu-link">Dịch vụ <i class="fas fa-chevron-down"></i></a>
                <div class="menu_child service-menu">
                    <div class="menu_child-item">
                        <h4>Dịch vụ trong nước</h4>
                        <ul>
                            <li><a href="#">Chuyển phát nhanh trong nước</a></li>
                            <li><a href="#">Chuyển tiết kiệm</a></li>
                            <li><a href="#">Dịch vụ hỏa tốc</a></li>
                            <li><a href="#">Dịch vụ đặc biệt</a></li>
                            <li><a href="#">Dịch vụ trọn gói</a></li>
                            <li><a href="#">Dịch vụ cộng thêm trong nước</a></li>
                        </ul>
                    </div>
                    <div class="menu_child-item">
                        <h4>Dịch vụ quốc tế</h4>
                        <ul>
                            <li><a href="#">Dịch vụ chuyển phát nhanh quốc tế EMS Priority</a></li>
                            <li><a href="#">Dịch vụ chuyển phát nhanh quốc tế</a></li>
                            <li><a href="#">Dịch vụ cộng thêm quốc tế</a></li>
                        </ul>
                    </div>
                    <div class="menu_child-item">
                        <h4>Dịch vụ TMĐT</h4>
                        <ul>
                            <li><a href="#">EMS Thương mại điện tử</a></li>
                            <li><a href="#">EMS Thương mại điện tử siêu tiết kiệm</a></li>
                            <li><a href="#">EMS Thương mại điện tử đồng giá</a></li>
                        </ul>
                    </div>
                    <div class="menu_child-item">
                        <h4>Dịch vụ Logistics</h4>
                        <ul>
                            <li><a href="/service/last-mile">Last Mile</a></li>
                            <li><a href="/service/forwarder">Forwarder</a></li>
                            <li><a href="/service/warehouse">Kho hàng và hoàn tất kho hàng</a></li>
                        </ul>
                    </div>
                    
                </div>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">Tra cứu <i class="fas fa-chevron-down"></i></a>
                <div class="menu_child">
                    <div class="menu_child-item">
                        <ul>
                            <li><a href="#">Tra cứu vùng xa - hải đảo</a></li>
                            <li><a href="#">Tra cứu bưu gửi</a></li>
                            <li><a href="#">Ước tính cước</a></li>
                            <li><a href="#">Tra cứu bưu cục</a></li>
                            <li><a href="#">Thông tin gửi hàng quốc tế</a></li>
                            <li><a href="#">Thời gian toàn trình</a></li>
                            <li><a href="#">Chính sách bồi thường</a></li>
                            <li><a href="#">Hướng dẫn gói bọc bưu gửi</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="menu-item">
                <a href="/news" class="menu-link">Tin tức</i></a>
            </li>
            <li class="menu-item"><a href="#" class="menu-link">Quan hệ cổ đông</a></li>
            <li class="menu-item">
                <a href="#" class="menu-link">Giới thiệu <i class="fas fa-chevron-down"></i></a>
                <div class="menu_child">
                    <div class="menu_child-item">
                        <ul>
                            <li><a href="#">Lịch sử hình thành</a></li>
                            <li><a href="#">Tầm nhìn sứ mệnh</a></li>
                            <li><a href="#">Cơ cấu tổ chức</a></li>
                            <li><a href="#">Ban lãnh đạo</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="menu-item"><a href="#" class="menu-link">Tuyển dụng</a></li>
            <li class="menu-item"><a href="/contact" class="menu-link">Liên hệ</a></li>
            <li class="menu-item"><a href="#" class="menu-link"><i class="fas fa-search"></i></a></li>
        </ul>
    </div>

    <div class="mobile_menu-box">
        <img src="/images/logo.jpg" alt="Logo">
        <div class="mobile-right_menu">
            <div class="search-icon">
                <a href="#"><i class="fas fa-search"></i></a>
            </div>
            <div class="bars-icon">
                <i class="fas fa-bars"></i>
            </div>

            <ul  class="nav__mobile hideMenu">
                <li class="nav__mobile-item">
                    <a href="#" class="nav__mobile-item-link">
                        Dịch vụ
                        <i class="fas fa-arrow-down"></i>
                    </a>
                    <ul class="nav__mobile-child hideMenu">
                        <li class="nav__mobile-child-item">
                            <a href="#" class="nav__mobile-child-link">
                                Dịch vụ trong nước
                                <i class="fas fa-arrow-down"></i>
                            </a>

                            <ul class="nav__mobile-child hideMenu">
                                <li class="nav__mobile-secondChild-item">
                                    <a href="#" class="nav__mobile-secondChild-link">
                                        Chuyển phát hỏa tốc
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                    
                                </li>
                                <li class="nav__mobile-secondChild-item">
                                    <a href="" class="nav__mobile-secondChild-link">
                                        Chuyển phát nhanh
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </li>
                                <li class="nav__mobile-secondChild-item">
                                    <a href="" class="nav__mobile-secondChild-link">
                                        Chuyển phát tiết kiệm
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </li>
                                <li class="nav__mobile-secondChild-item">
                                    <a href="" class="nav__mobile-secondChild-link">
                                        Dịch vụ đặc biệt
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </li>
                                <li class="nav__mobile-secondChild-item">
                                    <a href="" class="nav__mobile-secondChild-link">
                                        Dịch vụ trọn gói
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </li>
                                <li class="nav__mobile-secondChild-item">
                                    <a href="" class="nav__mobile-secondChild-link">
                                        Dịch vụ GTGT
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav__mobile-child-item">
                            <a href="#" class="nav__mobile-child-link">
                                Dịch vụ quốc tế
                                <i class="fas fa-arrow-down"></i>
                            </a>

                            <ul class="nav__mobile-child hideMenu">
                                <li class="nav__mobile-secondChild-item">
                                    <a href="#" class="nav__mobile-secondChild-link">
                                        Chuyển phát nhanh EMS
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                    
                                </li>
                                <li class="nav__mobile-secondChild-item">
                                    <a href="" class="nav__mobile-secondChild-link">
                                        Quốc tế Priority
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </li>
                                <li class="nav__mobile-secondChild-item">
                                    <a href="" class="nav__mobile-secondChild-link">
                                        Chuyển phát nhanh EMS
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </li>
                                <li class="nav__mobile-secondChild-item">
                                    <a href="" class="nav__mobile-secondChild-link">
                                        Quốc tế
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </li>
                                <li class="nav__mobile-secondChild-item">
                                    <a href="" class="nav__mobile-secondChild-link">
                                        Dịch vụ GTGT Quốc tế
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </li>
                                <li class="nav__mobile-secondChild-item">
                                    <a href="" class="nav__mobile-secondChild-link">
                                        Dịch vụ GTGT
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav__mobile-child-item">
                            <a href="#" class="nav__mobile-child-link">
                                Thương mại điện tử
                                <i class="fas fa-arrow-down"></i>
                            </a>

                            <ul class="nav__mobile-child hideMenu">
                                <li class="nav__mobile-secondChild-item">
                                    <a href="#" class="nav__mobile-secondChild-link">
                                        EMS Thương mại điện tử
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                    
                                </li>
                                <li class="nav__mobile-secondChild-item">
                                    <a href="" class="nav__mobile-secondChild-link">
                                        Đồng giá
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </li>
                                <li class="nav__mobile-secondChild-item">
                                    <a href="" class="nav__mobile-secondChild-link">
                                        EMS Fulfillment
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav__mobile-child-item">
                            <a href="#" class="nav__mobile-child-link">
                                Dịch vụ Logistics
                                <i class="fas fa-arrow-down"></i>
                            </a>

                            <ul class="nav__mobile-child hideMenu">
                                <li class="nav__mobile-secondChild-item">
                                    <a href="/service/last-mile" class="nav__mobile-secondChild-link">
                                        Last Mile
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                    
                                </li>
                                <li class="nav__mobile-secondChild-item">
                                    <a href="/service/forwarder" class="nav__mobile-secondChild-link">
                                        Forwarder
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </li>
                                <li class="nav__mobile-secondChild-item">
                                    <a href="/service/warehouse" class="nav__mobile-secondChild-link">
                                        Kho hàng
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                
                <li class="nav__mobile-item">
                    <a href="#" class="nav__mobile-item-link">
                        Tra cứu
                        <i class="fas fa-arrow-down"></i>
                    </a>
                    <ul class="nav__mobile-child hideMenu">
                        <li class="nav__mobile-child-item">
                            <a href="#" class="nav__mobile-child-link">
                                Tra cứu vùng xa - hải đảo
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>

                        <li class="nav__mobile-child-item">
                            <a href="" class="nav__mobile-child-link">
                                Tra cứu bưu gửi
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                        <li class="nav__mobile-child-item">
                            <a href="" class="nav__mobile-child-link">
                                Ước tính cước
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                        <li class="nav__mobile-child-item">
                            <a href="" class="nav__mobile-child-link">
                                Tra cứu bưu cục
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                        <li class="nav__mobile-child-item">
                            <a href="" class="nav__mobile-child-link">
                                Thông tin gửi hàng quốc tế
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                        <li class="nav__mobile-child-item">
                            <a href="" class="nav__mobile-child-link">
                                Thời gian toàn trình
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                        <li class="nav__mobile-child-item">
                            <a href="" class="nav__mobile-child-link">
                                Chính sách bồi thường
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                        <li class="nav__mobile-child-item">
                            <a href="" class="nav__mobile-child-link">
                                Hướng dẫn gói bọc bưu gửi
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav__mobile-item">
                    <a href="#" class="nav__mobile-item-link">
                        Tin tức
                        <i class="fas fa-arrow-down"></i>
                    </a>
                    <ul class="nav__mobile-child hideMenu">
                        <li class="nav__mobile-child-item">
                            <a href="#" class="nav__mobile-child-link">
                                Tin nội bộ
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>

                        <li class="nav__mobile-child-item">
                            <a href="" class="nav__mobile-child-link">
                                Tin dịch vụ mới
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                        <li class="nav__mobile-child-item">
                            <a href="" class="nav__mobile-child-link">
                                Tin ngành
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                        <li class="nav__mobile-child-item">
                            <a href="" class="nav__mobile-child-link">
                                Tin quốc tế
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav__mobile-item">
                    <a href="#" class="nav__mobile-item-link">
                        Giới thiệu
                        <i class="fas fa-arrow-down"></i>
                    </a>
                    <ul class="nav__mobile-child hideMenu">
                        <li class="nav__mobile-child-item">
                            <a href="#" class="nav__mobile-child-link">
                                Lịch sử hình thành
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>

                        <li class="nav__mobile-child-item">
                            <a href="" class="nav__mobile-child-link">
                                Tầm nhìn sứ mệnh
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                        <li class="nav__mobile-child-item">
                            <a href="" class="nav__mobile-child-link">
                                Cơ cấu tổ chức
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                        <li class="nav__mobile-child-item">
                            <a href="" class="nav__mobile-child-link">
                                Ban lãnh đạo
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav__mobile-item">
                    <a href="#" class="nav__mobile-item-link">
                        Quan hệ cổ đông
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </li>
                <li class="nav__mobile-item">
                    <a href="#" class="nav__mobile-item-link">
                        Tuyển dụng
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </li>
                <li class="nav__mobile-item">
                    <a href="/contact" class="nav__mobile-item-link">
                        Liên hệ
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </li>
            </ul>   
        </div>
        <div class="overlay hideMenu"></div> 
    </div>

    {{{body}}}
    
    <div class="footer">
        <div class="grid wide">
            <div class="row">
                <div class="col l-5 m-6 c-12">
                    <div class="intro_footer">
                        <div class="intro_footer-description">
                            <h3>TỔNG CÔNG TY CHUYỂN PHÁT NHANH BƯU ĐIỆN – CTCP</h3>
                            <p>Giấy chứng nhận đăng ký doanh nghiệp số: 0101826868 do Phòng ĐKKD - Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp lần đầu ngày 02/11/2005, cấp thay đổi lần thứ 12 ngày 11/02/2022</p>
                        </div>

                        <div class="department">
                            <h3>THÔNG TIN LIÊN HỆ</h3>
                            <div class="department_item">
                                <h4>Trụ sở chính</h4>
                                <div class="department_item-info">
                                    <div class="department-item-info-address">
                                        <i class="fas fa-building"></i>
                                        Tầng 4 FLC Landmark Tower, ngõ 5 Lê Đức Thọ, Mỹ Đình 2, Nam Từ Liêm, Hà Nội
                                    </div>
                                    <div class="department_item-info-phonenum">
                                        <i class="fas fa-phone"></i>
                                        1900545433
                                    </div>
                                    <div class="departmen_item-info-email">
                                        <i class="fas fa-envelope"></i>
                                        cskh@ems.com.vn
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="col l-7 m-6 c-0">
                    <div class="row">
                        <div class="col l-4">
                            <div class="about_EMS">
                                <h3>VỀ EMS</h3>
                                <ul class="about_EMS-list">
                                    <li><a href="" class="about_EMS-link">Lịch Sử Hình Thành</a></li>
                                    <li><a href="" class="about_EMS-link">Tuyển Dụng</a></li>
                                    <li><a href="" class="about_EMS-link">Tầm Nhìn Sứ Mệnh</a></li>
                                    <li> <a href="" class="about_EMS-link">Chính Sách Bảo Mật Thông Tin</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col l-4">
                            <div class="search_footer">
                                <h3>TRA CỨU</h3>
                                <ul class="search_footer-list">
                                    <li><a href="" class="search_footer-link">Tra Cứu Bưu Gửi</a></li>
                                    <li><a href="" class="search_footer-link">Ước Tính Cước</a></li>
                                    <li><a href="" class="search_footer-link">Tra Cứu Bưu Cục</a></li>
                                    <li><a href="" class="search_footer-link">Thông Tin Gửi Hàng Quốc Tế</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col l-4">
                            <div class="service_footer">
                                <h3>DỊCH VỤ</h3>
                                <ul class="service_footer-list">
                                    <li><a href="" class="service_footer-link">Dịch Vụ Quốc Tế</a></li>
                                    <li><a href="" class="service_footer-link">Dịch Vụ Logistics</a></li>
                                    <li><a href="" class="service_footer-link">Thương Mại Điện Tử</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col l-12">
                            <div class="hotline_footer">
                                <h3>HOTLINE</h3>
                                <div class="hotline_footer-info">
                                    <i class="fas fa-phone-alt"></i>
                                    <p>1900 54 54</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-btn">
        <i class="fas fa-phone-alt"></i>
    </div>

    <script src="/javascripts/slideshow.js"></script>
</body>
</html>