<!-- Start All Title Box -->
<div class="title">
  <h1>TIN TỨC</h1>
</div>
<!-- End All Title Box -->

<!-- Start BreadCrumb Box -->
<div class="breadcrumb">
  <i class="fas fa-home"></i>
  <a href="/">Trang chủ</a>
  <p>/ Tin tức</p>
</div>
<!-- End BreadCrumb Box -->

<!-- Start News SlideShow -->
<div class="wrapper" style="padding-inline: 0px; background-color: white;">
  <div class="featured-news">
    <div class="show-news">
      <img src="/images/News/1.jpg" alt="" id="image" />
      <h2 id="title">Thế nào là dịch vụ chuyển phát nhanh EMS?</h2>
      <p id="description">EMS là gì? Chuyển phát nhanh EMS mất bao lâu? Chuyển
        phát nhanh khi nào nhận được?... luôn là những câu hỏi được nhiều khách
        hàng thắc mắc. Đặt trong bối cảnh nhu cầu vận chuyển, sử dụng dịch vụ
        chuyển phát nhanh ở Việt Nam ngày một tăng nhanh, chắc chắn việc hiểu rõ
        về EMS sẽ giúp ích rất nhiều cho mọi người.</p>
      <div class="detail-news">
        <div class="type-news">
          <i class="fas fa-tag"></i>
          <p>Công khai</p>
        </div>
        <div class="date-news">
          <i class="far fa-calendar"></i>
          <p>07/02/2021</p>
        </div>
      </div>
    </div>
    <div class="side-news">
      <h3>Tin nổi bật</h3>
      <div class="news-item">
        <img src="/images/News/5.png" alt="" />
        <h4>Thông báo về việc chậm chỉ tiêu thời toàn trình bưu gửi EMS trên địa
          bàn các Tỉnh, Thành phố bị ảnh hưởng do dịch Covid-19</h4>
        <p style="display: none;">Trong bối cảnh dịch Covid-19 diễn biến phức
          tạp, căn cứ văn bản chỉ đạo các cấp chính quyền các Tỉnh, Thành phố về
          việc cách ly, phong tỏa một số khu vực nhằm phòng, chống dịch bệnh,
          khoanh vùng, dập dịch, .... để đảm bảo an toàn cho khách hàng và hàng
          hóa trong quá trình chuyển phát, Tổng Công ty Chuyển phát nhanh Bưu
          điện – CTCP (EMS Việt Nam) xin thông báo về việc chậm chỉ tiêu thời
          gian giao – nhận đối với bưu gửi EMS tại một số địa bàn Tỉnh, Thành
          phố trên toàn quốc.</p>
      </div>
      <hr />
      <div class="news-item">
        <img src="/images/News/1.jpg" alt="" />
        <h4>Thế nào là dịch vụ chuyển phát nhanh EMS?
        </h4>
        <p style="display:none;">EMS là gì? Chuyển phát nhanh EMS mất bao lâu?
          Chuyển phát nhanh khi nào nhận được?... luôn là những câu hỏi được
          nhiều khách hàng thắc mắc. Đặt trong bối cảnh nhu cầu vận chuyển, sử
          dụng dịch vụ chuyển phát nhanh ở Việt Nam ngày một tăng nhanh, chắc
          chắn việc hiểu rõ về EMS sẽ giúp ích rất nhiều cho mọi người.</p>
      </div>
      <hr />
      <div class="news-item">
        <img src="/images/News/6.png" alt="" />
        <h4>Dịch vụ chuyển phát nhanh mất bao lâu?</h4>
        <p style="display: none;">Để giải đáp thắc mắc của khách hàng dành về
          việc dịch vụ chuyển phát nhanh mất bao lâu, Tổng Công ty Chuyển phát
          nhanh Bưu điện – CTCP (EMS Việt Nam) đã cung cấp nền tảng tra cứu cước
          vận chuyển thông minh qua website ems.com.vn.</p>
      </div>
      <hr />
      <div class="news-item">
        <img src="/images/News/7.png" alt="" />
        <h4>Hướng dẫn tra cứu cước phí và thời gian nhận hàng đối với bưu gửi sử
          dụng dịch vụ chuyển phát nhanh EMS</h4>
        <p style="display: none;">Chuyển phát nhanh EMS mất bao lâu? Chuyển phát
          nhanh khi nào nhận được?... chính là những câu hỏi thường gặp ở các
          khách hàng sử dụng dịch vụ chuyển phát nhanh ở Việt Nam. Mặc dù vậy,
          với nền tảng thông minh được cung cấp qua website ems.com.vn, chỉ sau
          vài lần click chuột đơn giản, khách hàng của EMS Việt Nam đã có thể
          nhanh chóng tra cứu được toàn bộ các thông tin liên quan đến cước phí
          và thời gian giao nhận cho bưu gửi của mình.</p>
      </div>
      <hr />
      <div class="news-item">
        <img src="/images/News/8.jpg" alt="" />
        <h4>Dịch vụ chuyển phát nhanh EMS - Tra cứu cước phí thật dễ dàng chỉ
          sau vài cú click chuột</h4>
        <p style="display: none;">Chuyển phát nhanh EMS mất bao lâu? Chuyển phát
          nhanh khi nào nhận được?... chính là những câu hỏi thường xuyên gặp ở
          các khách hàng sử dụng dịch vụ chuyển phát.</p>
      </div>
      <hr />
    </div>
  </div>

  <div class="news-list">
    <div class="card-news">
      <div class="img-news">
        <img src="./images/News/3.jpg" alt="" />
      </div>
      <div class="content-news">
        <div class="title-news">
          Dịch vụ chuyển phát nhanh EMS - Tra cứu cước phí thật dễ dàng
        </div>
        <p>Chuyển phát nhanh EMS mất bao lâu? Chuyển phát nhanh khi nào nhận
          được?... chính là những câu hỏi thường xuyên gặp ở các khách hàng sử
          dụng dịch vụ chuyển phát.</p>
        <div class="footer-news">
          <div class="date-news">
            <i class="far fa-calendar"></i>
            <p>03/05/2022</p>
          </div>
          <div class="btn-news">
            <button>Xem thêm</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-news">
      <div class="img-news">
        <img src="./images/News/2.jpg" alt="" />
      </div>
      <div class="content-news">
        <div class="title-news">
          Thế nào là dịch vụ chuyển phát nhanh EMS?
        </div>
        <p>EMS là gì? Chuyển phát nhanh EMS mất bao lâu? Chuyển phát nhanh khi
          nào nhận được?... luôn là những câu hỏi được nhiều khách hàng thắc
          mắc. Đặt trong bối cảnh nhu cầu vận chuyển, sử dụng dịch vụ chuyển
          phát nhanh ở Việt Nam ngày một tăng nhanh, chắc chắn việc hiểu rõ về
          EMS sẽ giúp ích rất nhiều cho mọi người.</p>
        <div class="footer-news">
          <div class="date-news">
            <i class="far fa-calendar"></i>
            <p>03/05/2022</p>
          </div>
          <div class="btn-news">
            <button>Xem thêm</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-news">
      <div class="img-news">
        <img src="./images/News/1.jpg" alt="" />
      </div>
      <div class="content-news">
        <div class="title-news">
          Giải đáp: Chuyển phát nhanh khi nào nhận được?
        </div>
        <p>Để giải đáp thắc mắc của khách hàng dành về việc dịch vụ chuyển phát
          nhanh khi nào nhận được, Tổng Công ty Chuyển phát nhanh Bưu điện –
          CTCP (EMS Việt Nam) đã cung cấp nền tảng tra cứu cước vận chuyển thông
          minh qua website ems.com.vn.</p>
        <div class="footer-news">
          <div class="date-news">
            <i class="far fa-calendar"></i>
            <p>03/05/2022</p>
          </div>
          <div class="btn-news">
            <button>Xem thêm</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-news">
      <div class="img-news">
        <img src="./images/News/1.jpg" alt="" />
      </div>
      <div class="content-news">
        <div class="title-news">
          Giải đáp: Chuyển phát nhanh khi nào nhận được?
        </div>
        <p>Để giải đáp thắc mắc của khách hàng dành về việc dịch vụ chuyển phát
          nhanh khi nào nhận được, Tổng Công ty Chuyển phát nhanh Bưu điện –
          CTCP (EMS Việt Nam) đã cung cấp nền tảng tra cứu cước vận chuyển thông
          minh qua website ems.com.vn.</p>
        <div class="footer-news">
          <div class="date-news">
            <i class="far fa-calendar"></i>
            <p>03/05/2022</p>
          </div>
          <div class="btn-news">
            <button>Xem thêm</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-news">
      <div class="img-news">
        <img src="./images/News/1.jpg" alt="" />
      </div>
      <div class="content-news">
        <div class="title-news">
          Giải đáp: Chuyển phát nhanh khi nào nhận được?
        </div>
        <p>Để giải đáp thắc mắc của khách hàng dành về việc dịch vụ chuyển phát
          nhanh khi nào nhận được, Tổng Công ty Chuyển phát nhanh Bưu điện –
          CTCP (EMS Việt Nam) đã cung cấp nền tảng tra cứu cước vận chuyển thông
          minh qua website ems.com.vn.</p>
        <div class="footer-news">
          <div class="date-news">
            <i class="far fa-calendar"></i>
            <p>03/05/2022</p>
          </div>
          <div class="btn-news">
            <button>Xem thêm</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-news">
      <div class="img-news">
        <img src="./images/News/1.jpg" alt="" />
      </div>
      <div class="content-news">
        <div class="title-news">
          Giải đáp: Chuyển phát nhanh khi nào nhận được?
        </div>
        <p>Để giải đáp thắc mắc của khách hàng dành về việc dịch vụ chuyển phát
          nhanh khi nào nhận được, Tổng Công ty Chuyển phát nhanh Bưu điện –
          CTCP (EMS Việt Nam) đã cung cấp nền tảng tra cứu cước vận chuyển thông
          minh qua website ems.com.vn.</p>
        <div class="footer-news">
          <div class="date-news">
            <i class="far fa-calendar"></i>
            <p>03/05/2022</p>
          </div>
          <div class="btn-news">
            <button>Xem thêm</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-news">
      <div class="img-news">
        <img src="./images/News/1.jpg" alt="" />
      </div>
      <div class="content-news">
        <div class="title-news">
          Giải đáp: Chuyển phát nhanh khi nào nhận được?
        </div>
        <p>Để giải đáp thắc mắc của khách hàng dành về việc dịch vụ chuyển phát
          nhanh khi nào nhận được, Tổng Công ty Chuyển phát nhanh Bưu điện –
          CTCP (EMS Việt Nam) đã cung cấp nền tảng tra cứu cước vận chuyển thông
          minh qua website ems.com.vn.</p>
        <div class="footer-news">
          <div class="date-news">
            <i class="far fa-calendar"></i>
            <p>03/05/2022</p>
          </div>
          <div class="btn-news">
            <button>Xem thêm</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-news">
      <div class="img-news">
        <img src="./images/News/1.jpg" alt="" />
      </div>
      <div class="content-news">
        <div class="title-news">
          Giải đáp: Chuyển phát nhanh khi nào nhận được?
        </div>
        <p>Để giải đáp thắc mắc của khách hàng dành về việc dịch vụ chuyển phát
          nhanh khi nào nhận được, Tổng Công ty Chuyển phát nhanh Bưu điện –
          CTCP (EMS Việt Nam) đã cung cấp nền tảng tra cứu cước vận chuyển thông
          minh qua website ems.com.vn.</p>
        <div class="footer-news">
          <div class="date-news">
            <i class="far fa-calendar"></i>
            <p>03/05/2022</p>
          </div>
          <div class="btn-news">
            <button>Xem thêm</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-news">
      <div class="img-news">
        <img src="./images/News/1.jpg" alt="" />
      </div>
      <div class="content-news">
        <div class="title-news">
          Giải đáp: Chuyển phát nhanh khi nào nhận được?
        </div>
        <p>Để giải đáp thắc mắc của khách hàng dành về việc dịch vụ chuyển phát
          nhanh khi nào nhận được, Tổng Công ty Chuyển phát nhanh Bưu điện –
          CTCP (EMS Việt Nam) đã cung cấp nền tảng tra cứu cước vận chuyển thông
          minh qua website ems.com.vn.</p>
        <div class="footer-news">
          <div class="date-news">
            <i class="far fa-calendar"></i>
            <p>03/05/2022</p>
          </div>
          <div class="btn-news">
            <button>Xem thêm</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-news">
      <div class="img-news">
        <img src="./images/News/1.jpg" alt="" />
      </div>
      <div class="content-news">
        <div class="title-news">
          Giải đáp: Chuyển phát nhanh khi nào nhận được?
        </div>
        <p>Để giải đáp thắc mắc của khách hàng dành về việc dịch vụ chuyển phát
          nhanh khi nào nhận được, Tổng Công ty Chuyển phát nhanh Bưu điện –
          CTCP (EMS Việt Nam) đã cung cấp nền tảng tra cứu cước vận chuyển thông
          minh qua website ems.com.vn.</p>
        <div class="footer-news">
          <div class="date-news">
            <i class="far fa-calendar"></i>
            <p>03/05/2022</p>
          </div>
          <div class="btn-news">
            <button>Xem thêm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End -->

<script>
    $(function() { 
        $('.side-news .news-item').each((index, item) => { 
            item.addEventListener("mouseover", () => {
                $('#image').attr('src', $(item).children('img').attr('src'));
                $('#title').text($(item).children('h4').text());
                $('#description').text($(item).children('p').text()); 
            }) 
        }) 
    })
</script>