<!-- Start All Title Box -->
<div class="title">
  <h1>FORWARDER</h1>
</div>
<!-- End All Title Box -->

<!-- Start BreadCrumb Box -->
<div class="breadcrumb">
  <i class="fas fa-home"></i>
  <a href="index.html">Trang chủ</a>
  <p>/ Dịch vụ</p>
  <p> / Forwarder</p>
</div>
<!-- End BreadCrumb Box -->

<!-- Start Contact Us  -->
<div class="wrapper">
  <h1>DỊCH VỤ GIAO NHẬN VẬN TẢI (LOGISTICS FORWARDER)</h1>

  <h2>KHÁI NIỆM</h2>
  <hr />
  <p>Dịch vụ Giao nhận vận tải (Logistics Forwarder) là dịch vụ Logistics của
    Tổng Công ty Chuyển phát nhanh Bưu điện – CTCP (Tổng Công ty EMS) cung cấp
    cho khách hàng có nhu cầu vận chuyển hàng hóa từ nơi gửi hàng đến nơi nhận
    hàng bằng một hoặc nhiều phương thức vận tải khác nhau.
  </p>

  <h2>PHẠM VI CUNG CẤP</h2>
  <hr />
  <p>Cung cấp tại 63 tỉnh, thành phố trong cả nước.</p>

  <h2>GIÁ CƯỚC</h2>
  <hr />
  <p>Xây dựng theo từng giải pháp giao nhận vận chuyển cung cấp cho khách hàng
    cụ thể.</p>

  <h2>PHƯƠNG THỨC CUNG CẤP DỊCH VỤ</h2>
  <hr />
  <span>
    - Giao nhận vận tải
    <strong>Door - Door:</strong>là phương thức nhận hàng tại địa chỉ của người
    gửi, vận chuyển và giao đến địa chỉ của người nhận hàng.
    <br />
    - Giao nhận vận tải
    <strong>Hub - Door:</strong>là phương thức nhận hàng tại Hub khai thác hàng
    Logistics của Tổng Công ty EMS và giao hàng đến địa chỉ của người nhận hàng.
    <br />
    - Giao nhận vận tải
    <strong>Door - Hub:</strong>
    là phương thức nhận hàng tại địa chỉ của người gửi, vận chuyển và giao hàng
    cho người nhận tại Hub khai thác.
    <br />
    - Giao nhận vận tải
    <strong>Hub - Hub:</strong>là phương thức nhận hàng tại Hub khai thác, vận
    chuyển và giao hàng cho người nhận tại Hub khai thác.
    <br />
    <img class="equation" src="/images/equation.png" alt="Equation" />
  </span>

</div>
<!-- End Cart -->

<!-- Start Service Related -->
<div class="service-related">
  <h1>DỊCH VỤ LIÊN QUAN</h1>

  <div class="service-list">
    <div class="service-related-item">
      <div class="service-img">
        <span class="circle"></span>
        <img src="/images/lastmile-service.png" alt="" />
      </div>

      <div class="service-name">
        <h3>Last Mile</h3>
      </div>
      <div class="service-description">
        Dịch vụ Logistics công đoạn cuối (Last Mile Logistics): Là một chuỗi
        giải pháp giao nhận hàng tại kho hàng nhà máy (Warehouse - WH), trung
        tâm phân phối (Distribution Center - DC) của khách hàng; vận chuyển đến
        đầu tỉnh, thành phố (Warehouse - Province); giao nhận với đội phát của
        khách hàng tại tỉnh/thành phố (điểm bán lẻ); tổ chức vận chuyển và phát
        đến người nhận trên địa bàn tỉnh/thành phố đó; cung cấp các giải pháp,
        dịch vụ gia tăng khác khi khách hàng có yêu cầu (thu hộ, vận chuyển hàng
        đổi trả,…).
      </div>
    </div>

    <div class="service-related-item">
      <div class="service-img">
        <span class="circle"></span>
        <img src="/images/store-service.png" alt="" />
      </div>
      <div class="service-name">
        <h3>Kho hàng</h3>
      </div>
      <div class="service-description">
        Dịch vụ quản lý và vận hành kho hàng: Cung cấp hạ tầng, mặt bằng kho,
        quản lý hàng tồn kho; cung cấp các dịch vụ đóng gói trong kho hàng và
        các giải pháp tích hợp khác đáp ứng nhu cầu quản lý và vận hành kho của
        khách hàng (soạn hàng, đóng gói, in đơn, chuyển phát và theo dõi đơn
        hàng, … )
      </div>
    </div>
  </div>
</div>
<!-- End -->