<!-- Start All Title Box -->
<div class="title">
  <h1>LAST MILE</h1>
</div>
<!-- End All Title Box -->

<!-- Start BreadCrumb Box -->
<div class="breadcrumb">
  <i class="fas fa-home"></i>
  <a href="index.html">Trang chủ</a>
  <p>/ Dịch vụ</p>
  <p> / Last Mile</p>
</div>
<!-- End BreadCrumb Box -->

<!-- Start Contact Us  -->
<div class="wrapper">
  <h1>DỊCH VỤ LOGISTICS CÔNG ĐOẠN CUỐI (LAST MILE LOGISTICS)</h1>

  <h2>KHÁI NIỆM</h2>
  <hr />
  <p>Dịch vụ Logistics công đoạn cuối (Last Mile Logistics): Là một chuỗi giải
    pháp giao nhận hàng tại kho hàng nhà máy (Warehouse - WH), trung tâm phân
    phối (Distribution Center - DC) của khách hàng; vận chuyển đến đầu tỉnh,
    thành phố (Warehouse - Province); giao nhận với đội phát của khách hàng tại
    tỉnh/thành phố (điểm bán lẻ); tổ chức vận chuyển và phát đến người nhận trên
    địa bàn tỉnh/thành phố đó; cung cấp các giải pháp, dịch vụ gia tăng khác khi
    khách hàng có yêu cầu (thu hộ, vận chuyển hàng đổi trả,…).
  </p>

  <h2>PHẠM VI CUNG CẤP</h2>
  <hr />
  <p>Cung cấp tại 63 tỉnh, thành phố trong cả nước.</p>

  <h2>GIÁ CƯỚC</h2>
  <hr />
  <p>Xây dựng theo từng giải pháp cung cấp cho khách hàng cụ thể.</p>

  <h2>KHỐI LƯỢNG, KÍCH THƯỚC BƯU GỬI</h2>
  <hr />
  <h3>1. Khối lượng bưu gửi:</h3>
  <span>
    - Khối lượng bưu gửi EMS thông thường, tối đa là 30kg/bưu gửi.
    <br />
    - Đối với bưu gửi là hàng nguyên khối không thể tách rời, vận chuyển bằng
    đường bộ được được nhận gửi tối đa đến 50kg, nhưng phải đảm bảo giới hạn về
    kích thước theo quy định của Tổng Công ty EMS.
  </span>
  <h3>2. Kích thước bưu gửi:</h3>
  <span>
    -
    <strong>Kích thước thông thường:</strong>
    đối với Bưu gửi EMS là bất kỳ chiều nào của Bưu gửi không vượt quá 1,5 m và
    tổng chiều dài cộng với chu vi lớn nhất (không đo theo chiều dài đã đo)
    không vượt quá 3m.
    <br />
    -
    <strong>Hàng cồng kềnh:</strong>
    Bưu gửi có kích thước lớn hơn so với kích thước thông thường được gọi là bưu
    gửi cồng kềnh và có qui định riêng phụ thuộc vàotừng nơi nhận, nơi phát và
    điều kiện phương tiện vận chuyển.
    <br />
    -
    <strong>Hàng nhẹ:</strong>
    Là hàng gửi có khối lượng dưới 167 kg/m3 (tương đương với trên 6000cm3/kg),
    khối lượng tính cước không căn cứ vào khối lượng thực mà căn cứ vào khối
    lượng qui đổi từ thể tích kiện hàng theo công thức sau:
    <br />
    <img class="equation" src="/images/equation.png" alt="Equation" />
  </span>

</div>
<!-- End Cart -->

<!-- Start Service Related -->
<div class="service-related">
  <h1>DỊCH VỤ LIÊN QUAN</h1>

  <div class="service-list">
    <div class="service-related-item">
      <div class="service-img">
        <span class="circle"></span>
        <img src="/images/forwarder-service.png" alt="" />
      </div>

      <div class="service-name">
        <h3>Forwarder</h3>
      </div>
      <div class="service-description">
        Dịch vụ Giao nhận vận tải (Logistics Forwarder) là dịch vụ Logistics của
        Tổng Công ty Chuyển phát nhanh Bưu điện – CTCP (Tổng Công ty EMS) cung
        cấp cho khách hàng có nhu cầu vận chuyển hàng hóa từ nơi gửi hàng đến
        nơi nhận hàng bằng một hoặc nhiều phương thức vận tải khác nhau.
      </div>
    </div>

    <div class="service-related-item">
      <div class="service-img">
        <span class="circle"></span>
        <img src="/images/store-service.png" alt="" />
      </div>
      <div class="service-name">
        <h3>Kho hàng</h3>
      </div>
      <div class="service-description">
        Dịch vụ quản lý và vận hành kho hàng: Cung cấp hạ tầng, mặt bằng kho,
        quản lý hàng tồn kho; cung cấp các dịch vụ đóng gói trong kho hàng và
        các giải pháp tích hợp khác đáp ứng nhu cầu quản lý và vận hành kho của
        khách hàng (soạn hàng, đóng gói, in đơn, chuyển phát và theo dõi đơn
        hàng, … )
      </div>
    </div>
  </div>
</div>
<!-- End -->