<!-- Start All Title Box -->
<div class="title">
  <h1>FORWARDER</h1>
</div>
<!-- End All Title Box -->

<!-- Start BreadCrumb Box -->
<div class="breadcrumb">
  <i class="fas fa-home"></i>
  <a href="index.html">Trang chủ</a>
  <p>/ Dịch vụ</p>
  <p> / Kho hàng</p>
</div>
<!-- End BreadCrumb Box -->

<!-- Start Contact Us  -->
<div class="wrapper">
  <h1>DỊCH VỤ LOGISTICS QUẢN LÝ VÀ VẬN HÀNH KHO HÀNG (WAREHOUSE MANAGEMENT
    SERVICE)</h1>

  <h2>KHÁI NIỆM</h2>
  <hr />
  <p>- Dịch vụ quản lý và vận hành kho hàng: Cung cấp hạ tầng, mặt bằng kho,
    quản lý hàng tồn kho; cung cấp các dịch vụ đóng gói trong kho hàng và các
    giải pháp tích hợp khác đáp ứng nhu cầu quản lý và vận hành kho của khách
    hàng (soạn hàng, đóng gói, in đơn, chuyển phát và theo dõi đơn hàng, … )
  </p>

  <h2>PHẠM VI CUNG CẤP</h2>
  <hr />
  <span>
    - Miền Bắc: Hà Nội, Bắc Ninh, Vĩnh Phúc, Hải Phòng, Hải Dương.
    <br />
    - Miền Nam: HCM, Bình Dương, Đồng Nai, Bình Phước, Cần Thơ.
  </span>

  <h2>CÁC DỊCH VỤ TRONG GIẢI PHÁP QUẢN LÝ VÀ VẬN HÀNH KHO HÀNG BAO GỒM</h2>
  <hr />
  <span>
    - Cung cấp mặt bằng kho hàng có trang bị hệ thống CCDC đặc thù, giá kệ
    chuyên nghiệp để lưu trữ, chứa hàng hóa.
    <br />
    - Quản lý kho hàng bằng phần mềm CNTT chuyên biệt, tích hợp với hệ thống của
    khách hàng để nhận yêu cầu xuất kho. Mọi hoạt động nhập kho, xuất kho đều
    được cập nhật vào phần mềm quản lý kho.
    <br />
    - Tiếp nhận đơn hàng từ khách hàng và cung cấp dịch vụ đóng gói theo yêu
    cầu.
    <br />
    - Xuất kho hàng hóa theo đơn hàng.
  </span>

  <h2>TIÊU CHUẨN QUẢN LÝ KHO HÀNG</h2>
  <hr />
  <span>
    - Hệ thống phần mềm CNTT quản lý kho ưu việt, xử lý tốc độ cao.
    <br />
    - Kho hàng đạt tiêu chuẩn về: Vệ sinh, nhiệt độ, chống bụi, côn trùng, PCCC,
    đối lưu không khí, hệ thống điện dự phòng.
    <br />
    - Tiêu chuẩn về an ninh: Bảo vệ, camera trong và ngoài kho.
    <br />
    - Đảm bảo điều kiện bảo quản cho từng loại hàng hoá.
    <br />
    - Phục vụ khách hàng theo văn hoá tiêu dùng địa phương cũng như giải quyết
    bài toán của khách hàng TMĐT.
  </span>

  <h2>GIÁ CƯỚC</h2>
  <hr />
  <p>Xây dựng theo từng giải pháp giao nhận vận chuyển cung cấp cho khách hàng
    cụ thể.</p>

</div>
<!-- End Cart -->

<!-- Start Service Related -->
<div class="service-related">
  <h1>DỊCH VỤ LIÊN QUAN</h1>

  <div class="service-list">
    <div class="service-related-item">
      <div class="service-img">
        <span class="circle"></span>
        <img src="/images/lastmile-service.png" alt="" />
      </div>

      <div class="service-name">
        <h3>Last Mile</h3>
      </div>
      <div class="service-description">
        Dịch vụ Logistics công đoạn cuối (Last Mile Logistics): Là một chuỗi
        giải pháp giao nhận hàng tại kho hàng nhà máy (Warehouse - WH), trung
        tâm phân phối (Distribution Center - DC) của khách hàng; vận chuyển đến
        đầu tỉnh, thành phố (Warehouse - Province); giao nhận với đội phát của
        khách hàng tại tỉnh/thành phố (điểm bán lẻ); tổ chức vận chuyển và phát
        đến người nhận trên địa bàn tỉnh/thành phố đó; cung cấp các giải pháp,
        dịch vụ gia tăng khác khi khách hàng có yêu cầu (thu hộ, vận chuyển hàng
        đổi trả,…).
      </div>
    </div>

    <div class="service-related-item">
      <div class="service-img">
        <span class="circle"></span>
        <img src="/images/forwarder-service.png" alt="" />
      </div>

      <div class="service-name">
        <h3>Forwarder</h3>
      </div>
      <div class="service-description">
        Dịch vụ Giao nhận vận tải (Logistics Forwarder) là dịch vụ Logistics của
        Tổng Công ty Chuyển phát nhanh Bưu điện – CTCP (Tổng Công ty EMS) cung
        cấp cho khách hàng có nhu cầu vận chuyển hàng hóa từ nơi gửi hàng đến
        nơi nhận hàng bằng một hoặc nhiều phương thức vận tải khác nhau.
      </div>
    </div>
  </div>
</div>
<!-- End -->