* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, helvetica neue, Helvetica, Arial, Ubuntu, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #f0f0f0;
  padding-inline: 180px;
  color: #4d72bc;
}

.hotline,
.language {
  display: flex;
  align-items: center;
}

.hotline p,
.language p {
  font-weight: bold;
  margin-left: 5px;
}

.hotline p {
  font-size: 20px;
}

.hotline h4,
.language h4 {
  font-weight: normal;
}

.hotline h4 {
  font-size: 20px;
}

.login_btn {
  background-color: #f7941e;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 10px;
}

.login_btn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.mobile_menu-box {
  display: none;
}

.menu-box {
  display: flex;
  padding-inline: 180px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  padding-inline: 18px;
  list-style: none;
  font-weight: bold;
  display: block;
}

.menu-item:hover {
  background-color: #f7941e;
  padding-block: 30px;
}

.menu-item:hover .menu-link {
  color: white;
}

.menu-item:hover .menu_child {
  visibility: visible;
}

.menu-link {
  text-decoration: none;
  color: #4d72bc;
}

.menu-link a i {
  font-weight: normal;
}

.menu_child {
  position: absolute;
  background-color: white;
  top: 100%;
  width: 275px;
  display: flex;
  border-bottom: 5px solid #f7941e;
  visibility: hidden;
}

.service-menu {
  width: 1100px;
  left: 180px;
}

.menu_child-item {
  width: 275px;
  border-inline: 1px solid gray;
}

.menu_child-item li {
  list-style: none;
  padding-block: 20px;
  border-bottom: 5px solid white;
  padding-inline: 20px;
}

.menu_child-item ul li:hover {
  background-color: #fde8d7;
  border-color: #f7941e;
}

.menu_child-item h4 {
  margin-block: 30px;
  margin-inline: 20px;
}

.menu_child-item li a {
  text-decoration: none;
  color: #4d72bc;
}

.search {
  width: 100%;
  background-color: #f5cc71;
  padding-inline: 10%;
  padding-block: 50px;
}

.search_left h2 {
  color: #0072bc;
}

.search_left p {
  margin-block: 20px;
}

.search_box input {
  width: 80%;
  height: 50px;
  padding-inline: 15px;
  font-size: 16px;
}

.search_box button {
  height: 50px;
  width: 15%;
  font-size: 16px;
  color: white;
  background-color: #0072bc;
  border-radius: 5px;
  outline: none;
  border: none;
}

.searchbox_estimate,
.searchbox_post,
.searchbox_prohibit {
  margin-inline: 25px;
  text-align: center;
}

.searchbox_estimate:hover img,
.searchbox_post:hover img,
.searchbox_prohibit:hover img {
  transform: scale(1.1);
}

.searchbox_estimate h4,
.searchbox_post h4,
.searchbox_prohibit h4 {
  font-size: 16px;
  font-weight: normal;
  color: #0072bc;
}

/* Slide show */
.carousel-container {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 800%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 12.5%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -12.5%;
}
#radio3:checked ~ .first {
  margin-left: -25%;
}
#radio4:checked ~ .first {
  margin-left: -37.5%;
}
#radio5:checked ~ .first {
  margin-left: -50%;
}
#radio6:checked ~ .first {
  margin-left: -62.5%;
}
#radio7:checked ~ .first {
  margin-left: -75%;
}
#radio8:checked ~ .first {
  margin-left: -87.5%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: white;
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
  background-color: white;
}
#radio6:checked ~ .navigation-auto .auto-btn6 {
  background-color: white;
}
#radio7:checked ~ .navigation-auto .auto-btn7 {
  background-color: white;
}
#radio8:checked ~ .navigation-auto .auto-btn8 {
  background-color: white;
}
/*-------------------------------------------------- */

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 70px;
}

.services h1 {
  font-size: 3rem;
  margin-bottom: 70px;
}

.service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  cursor: pointer;
}

.service-item h3 {
  margin-bottom: 10px;
}

.service-item:hover h3 a {
  color: #f7941e;
  text-decoration: underline;
}

.service-item:hover img {
  filter: brightness(0) invert(56%) sepia(95%) saturate(651%) hue-rotate(347deg)
    brightness(101%) contrast(94%);
  transform: scale(1.1);
}

.service-item h3 a {
  text-decoration: none;
  color: #0072bc;
}

.service-item img {
  width: 143px;
  height: 141px;
}

.service-btn {
  padding-block: 15px;
  padding-inline: 60px;
  background-color: #f7941e;
  font-size: 17px;
  font-weight: bold;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.service-btn:hover {
  background-color: #0072bc;
}


/* News */
.news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 70px;
  background-color: #f5cc71;
}

.news h1 {
  font-size: 3rem;
}

.slider-news{
  max-width: 1100px;
  display: flex;
  margin-block: 50px;
  z-index: 0 !important;
}
.slider-news .card-news{
  flex: 1;
  margin: 0 10px;
  background: #fff;
}
.slider-news .card-news .img-news{
  height: 200px;
  width: 100%;
}
.slider-news .card-news .img-news img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.slider-news .card-news .content-news{
  padding: 10px 20px;
}
.card-news {
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.card-news:hover {
  box-shadow: 4px 10px 10px 0px rgb(0, 0, 0, 0.3);
  transform: scale(0.95);
}
.card-news .content-news .title-news{
  font-size: 18px;
  color: #0072bc;
  font-weight: 600;
  margin-block: 10px;
}
.card-news .content-news .title-news:hover{
  color: #f7941e;
}
.card-news .content-news .sub-title-news{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card-news .content-news p{
  text-align: justify;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 10px 0;
}
.card-news .content-news .btn-news{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.card-news .content-news .btn-news button{
  background: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.footer-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-news p {
  margin-left: 5px !important;
}
/*----------------------------------------------*/

/* Contact Button */
.contact-btn {
  position: fixed;
  padding: 18px;
  font-size: 25px;
  background-color:#f7941e;
  border-radius: 50%;
  bottom: 5%;
  left: 3%;
  color: white;
  animation: ringAnimation 1s 0s infinite ease-in;
  cursor: pointer;
}

@keyframes ringAnimation {
  0% {
    transform: rotate(10deg);
  }
  8% {
    transform: rotate(-10deg);
  }
  16% {
    transform: rotate(10deg);
  }
  24% {
    transform: rotate(0);
  }
  
}
/*----------------------------------------------*/

.footer {
  background-color: #0072bc;
  color: white;
  padding-block: 60px;
}

.intro_footer-description h3,
.department h3 {
  font-size: 17px;
  margin-bottom: 20px;
}

.intro_footer-description {
  margin-bottom: 20px;
}

.department-item-info-address,
.department_item-info-phonenum,
.departmen_item-info-email {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.department-item-info-address i,
.department_item-info-phonenum i,
.departmen_item-info-email i {
  margin-right: 10px;
}

.about_EMS-list,
.service_footer-list,
.search_footer-list {
  list-style: none;
}

.about_EMS-list li,
.service_footer-list li,
.search_footer-list li {
  margin-block: 10px;
}

.about_EMS-link,
.service_footer-link,
.search_footer-link {
  text-decoration: none;
  color: white;
}

.about_EMS-link:hover,
.service_footer-link:hover,
.search_footer-link:hover {
  text-decoration: underline;
}

.hotline_footer {
  margin-top: 30px;
}

.hotline_footer-info {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  margin-block: 20px;
}

.hotline_footer-info i {
  margin-right: 10px;
}

@media (max-width: 1023px) {
  .header {
    padding-inline: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .menu-box {
    display: none;
  }

  .mobile_menu-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 10px;
    position: fixed;
    background-color: white;
    top: 50px;
  }

  .mobile-right_menu {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
  }

  .search-icon,
  .bars-icon {
    color: black;
    font-size: 18px;
    display: block;
    padding-block: 40px;
    padding-inline: 15px;
    cursor: pointer;
  }

  .search-icon a {
    color: black;
  }

  .search-icon:hover,
  .bars-icon:hover {
    background-color: #f7941e;
  }

  .search-icon:hover a,
  .bars-icon:hover .fa-bars {
    color: white;
  }

  .overlay {
    background-color: rgb(0, 0, 0, 0.3);
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

  .nav__mobile,
  .nav__mobile-child {
    list-style: none;
  }

  .nav__mobile {
    position: fixed;
    top: 150px;
    right: 0;
    width: 90%;
    background-color: white;
    color: #f7941e;
    z-index: 10;
    font-weight: bold;
    font-size: 17px;
    overflow-y: scroll;
    height: 100%;
  }

  .nav__mobile-item {
    padding-block: 30px;
    padding-inline: 10px;
    border-bottom: 1px solid rgb(241, 241, 241);
  }

  .nav__mobile-child-item {
    padding-left: 20px;
    padding-block: 20px;
  }

  .nav__mobile-secondChild-item {
    padding-left: 40px;
    padding-block: 20px;
  }

  .nav__mobile-item-link,
  .nav__mobile-child-link,
  .nav__mobile-secondChild-link {
    text-decoration: none;
    color: #f7941e;
    display: flex;
    justify-content: space-between;
  }

  .hideMenu {
    display: none;
  }

  .carousel-container {
    margin-top: 150px;
  }
}

@media screen and (max-width: 739px) {
  .hotline {
    display: none;
  }

  .services h1 {
    font-size: 20px;
  }

  .content h3 {
    font-size: 15px;
  }

  .footer {
    padding: 10px;
  }
}
